<footer class="border-top footer text-muted">
    <div class="container">
        &copy; COMP2139 GBC Project Management – Nyla Prince <a asp-area="" asp-controller="Home" asp-action="About">Nyla Prince</a>
    </div>
</footer>